@{
    decimal totallocal = (decimal)ViewBag.totallocal;
    decimal totalForeign = (decimal)ViewBag.totalForeign;
}

<div class="row">
        <div class="col-12">
            <label>Total local</label>
            <b>@totallocal</b>
            <br />
            <label>Total Internacional</label>
            <b>@totalForeign</b>
        </div>
</div>