@using DesignPatternsASP.Models.ViwModels;

@model IEnumerable<UserViewModel>

<div class="row">
    <div class="col-12">
        <a class="btn btn-primary" href=" "~User/Add/">New User</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table">
            <tr>
                <th>Nombre</th>
                <th>Full Name</th>
            </tr>
            @foreach(var user in Model)
            {
                <tr>
                    <td>
                        @user.UserName
                    </td>
                    <td>
                        @user.UserFullName
                    </td>
                </tr>
            }
        </table>
    </div>
</div>



